*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

/* mix */

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

/* /mix */

/* Header */

.top-header{
  background-color: #F4F9FD;
}

.container{
  width: 80%;
  margin: auto;
}

nav li{
  display: inline-block;
  list-style: none;
  margin-right: 15px;
  vertical-align: middle;
  line-height: 3;
}

nav i, a{
  text-decoration: none;
  font-size: 12px;
  color: black;
}

.fa-globe-europe{
  margin-right: 5px;
}

.column{
  float: left;
}

.column-right{
  float: right;
}

.fa-search{
  color: #91D4E1;
  font-size: 12px;
}

.column.logo{
  height: 20px;
  margin-top: 12px
}

.button{
  border: 1px solid #ff7b54;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
}

.button.empty{
  background-color: white;
}

.button.full{
  background-color: #ff7b54;
  color: white;
  margin-bottom: 10px;
}

.bottom-header{
  height: 15px;
}

.hero{
  height: 500px;
  background-color: #FFF4EE;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;
  position: relative;
}

.text-header{
  width: 30%;
  word-spacing: 5px;

}

h1{
  margin-top: 34px;
  padding-top: 45px;
  font-weight: bolder;
  font-size: 26px;
}

p{
  font-size: 12px;
  padding-top: 25px;
  margin-bottom: 25px;
}

.big-button{
  padding: 12px 22px;
}

.getstarted-text{
  margin-top: 20px;
  font-size: 10px;
  word-spacing: 1px;
}

#green-bar{
  height: 80px;
  margin-top: 144px;
  background-color: #AFEBE4;
  border: 1px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/* /Header */

/* Rubik Section*/
.main-section{
  background-color: #F4F9FD;
}

.rubik{
  width: 50%;
  margin: auto;
  text-align: center;
  line-height: 20px;
  padding-top: 20px;
}

#rubik-img{
  height: 100px;
}

#rubik-h2{
  margin-bottom: 18px;
}

.white-rectangle{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.10);
  padding: 20px 70px;
}

.small-img{
  height: 60px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.rubik-text{
  width: 70%;
  margin-left: 50px;
}

.caps-text{
  text-transform: uppercase;
  margin: 20px 0px;
  display: inline-block;
}

.line{
  width: 295px;
  margin-left: 30px;
  display: inline-block;
}

.check-nav{
  font-size: 10px;
}

.check-nav i{
  padding-right: 10px;
}

.fa-check-circle{
  color: #ff7b54;
}

/* 3 column*/

.column.triptych{
  text-align: center;
  background-color: white;
  margin: 45px 45px 45px 0px;
  width: calc((100% / 3) - 30px);
  padding: 10px 50px;
  border-radius: 3px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.10);
}


.column.triptych:last-of-type{
  margin-right: 0px;
}

.nav-column li{
  text-align: left;
  font-size: 12px;
  display: block;
  line-height: normal;
}

.nav-column ul{
  margin-bottom: 25px;
}
/* 3 /column*/

/* /Rubik Section*/

/* Gradient Section*/

.gradient-section{
  background: linear-gradient(90deg, rgba(13,154,171,1) 0%, rgba(0,228,164,1) 100%);
}

.gradient-text{
  color: white;
  text-align: center;
  padding: 30px;
  margin-bottom: 25px;
}

.gradient-text.top{
  padding: 10px ;
}

.award-row{
  padding-bottom: 50px;
}

.row{
  float: left;
  width: 25%;
  text-align: center;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

h5{
  color: white;
  font-size: 20px;
}

.bottom-row{
  padding: 10px;
  border-bottom: 0px;
}

.row:nth-child(4){
  border-right: 0px;
}

.bottom-row:last-of-type{
  border-right: 0px;
}
/* /Gradient Section*/

/* Customers & Logo Section*/
.col-left{
  width: 20%;
  text-align: center;
  margin-top: 30px;
  display: inline-block;
  float: left;
}

.col-right{
  width: 50%;
  float: right;
  text-align: right;
}

.big-text{
  font-size: 30px;
}

.company-logo{
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  margin: 20px 15px;
}

.col-left-bottom{
  width: 48%;
  float: left;
  text-align: left;
  display: inline-block;
  margin-bottom: 15px;
}

#woman-img{
  width: 40%;
}
/* /Customers & Logo Section*/

/* Footer*/

.footer-section{
  background-color: #32495B;
}

.footer-col{
  float: left;
  width: 25%;
  margin-top: 30px;
}

h6.gradient-text{
  text-align: left;
  padding: 0px;
}

.nav-column li{
  list-style: none;
  padding-bottom: 5px;
}

.nav-column a{
  color: white;
}

.nav-column.last{
  margin-bottom: 20px;
}

.footer-button{
  border: 1px solid;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 12px;
  color: #32495B;
  background-color: white;
}

.social li{
  display: inline-block;
}

.social-logo{
margin-top: 15px;
color: white;
padding-right: 20px;
}

.languages{
  text-align: center;
  margin-bottom: 20px;
}

.lang{
  color: white;
  padding-left: 10px;
}

.legal-privacy a{
  color: white;
}

.footer h6{
  color: white;
}

.column.footer{
  margin: 20px 0px;
}


/* /Footer*/
